/*
css for web form for login and signup using local storage
author: suchita mohanty;
*/
.container h2{
	margin: 40px auto;
}

.container {
	width: 760px;
	margin: 40px auto;
	text-align: center;
}

#login-content  input {
	margin: 5px;
}

#signup-content input {
	margin: 5px;
}

#login-content, #signup-content, #welcome-content {
	display: none;
	width: 300px;
  margin: 10px auto;
}

#container back{
	margin-left: 180px;
}

.message {
}